$theme-light: #d22fff;
$theme: #b22ef9;
$theme-dark: #7b1fac;
$accent: #70b919;

$orange: #f07613;
$yellow: #ffc64d;

$white: #f5f5fb;
$text-grey: #a2a2ae;
$light-grey: #42424d;
$dark-grey: #27272e;
$black: #1b1a1d;
$dark-black: #101016;
