@import "colours";

* {
  font-family: var(--montserrat);
  font-style: normal;
}


h1 {
  font-weight: 300;
  font-size: 5rem;
}
h2 {
  font-weight: 700;
  font-size: 4rem;
}
h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

p, li {
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $accent;
}