@import "colours";

.layout {
  nav {
    position: fixed;
    display: flex;
    background-color: $dark-black;
    gap: 4rem;

    .linkList {
      display: flex;
      list-style: none;

      .navItem {
        padding: 1rem;

        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          
          text-decoration: none;

          svg {
            min-width: 2rem;
            min-height: 2rem;
            fill: $text-grey;
          }

          p {
            font-size: 1.25rem;
            color: $text-grey;
          }
        }

        &.active {
          background-color: $dark-grey;

          svg {
            fill: $theme-light;
          }
          p {
            color: $theme-light;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 799px) {
  $navbar-height: 6rem;

  nav {
    height: $navbar-height;
    width: 100vw;
    bottom: 0;

    border-top: 0.5rem solid $dark-grey;

    padding-top: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    justify-content: center;

    .logoBlock {
      display: none;
    }

    .linkList {
      width: 100%;
      justify-content: space-evenly;

      .navItem {
        border-radius: 0 0 2em 2em;
        
        flex: 1;
        gap: 2rem;

        a {
          display: flex;
          justify-content: center;

          p {
            display: none;
          }
        }
      }
    }
  }

  main {
    height: calc(100vh - $navbar-height);
    margin-bottom: $navbar-height;
    padding: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  $sidebar-width: 15rem;

  nav {
    width: $sidebar-width;
    height: 100vh;
    flex-direction: column;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 0;

    .logoBlock {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      svg {
        width: auto;
        height: 4rem;
      }

      .wordmark {
        p {
          font-size: 0.75rem;
          color: $text-grey;
        }
      }
    }

    .linkList {
      flex-direction: column;
      gap: 1rem;

      .navItem {
        border-radius: 2em 0 0 2em;
      }
    }
  }

  main {
    height: 100vh;
    margin-left: $sidebar-width;
    padding: 5rem;
  }
}
