@import "colours";
@import "card_gallery";

.search {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  width: 100%;
  margin-bottom: 2rem;

  .searchInputs {
    display: flex;
    gap: 0.5rem;

    height: 2rem;
    padding-bottom: 0.25rem;

    border-bottom: 2px solid $light-grey;

    input {
      all: unset;
      color: $white;
      flex: 1;
    }

    .searchIcon {
      fill: $light-grey;
      height: 100%;
      width: auto;
    }

    transition: all 250ms ease-in-out;

    &:focus-within {
      .searchIcon {
        fill: $text-grey;
      }
    }
  }

  .results {
    @include card-grid;

    .itemContainer {
      @include card-container;

      .item {
        @include card;
      }
    }
  }
}
