@import "colours";

.search {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;

  .searchInputs {
    display: flex;
    gap: 0.5rem;

    height: 2rem;
    padding-bottom: 0.25rem;

    border-bottom: 2px solid $light-grey;

    input {
      all: unset;
      color: $white;
      flex: 1;
    }

    .searchIcon {
      fill: $light-grey;
      height: 100%;
      width: auto;
    }

    transition: all 250ms ease-in-out;

    &:focus-within {
      .searchIcon {
        fill: $text-grey;
      }
    }
  }

  .dataResults {
    position: absolute;
    display: grid;
    width: inherit;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    background-color: $black;
    padding: 1rem;
    gap: 1rem;
    border: 2px solid $light-grey;
    border-radius: 0 0 10px 10px;
    margin-top: -2px;

    .dataItem {
      background-color: $dark-grey;
      overflow: hidden;
      padding: 0.75rem;
      border-radius: 10px;
      text-align: center;
    }
  }
}
