@import "colours";
@import "typography_mixins";

.main {
  h1 {
    word-wrap: break-word;
    margin-bottom: 2rem;
  }

  .twoCols {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;

    .entriesCol {
      display: flex;
      flex-direction: column;
      flex: 4;
      min-width: 60%;

      gap: 2rem;
    }

    .etymologyCol {
      flex: 1;
      min-width: 250px;

      height: min-content;
      gap: 1rem;

      & > * {
        word-wrap: break-word;
      }
    }
  }
}

.entry,
.etymologyCol {
  background-color: $black;
  padding: 2.5rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    &.entryNumber {
      @include label-text;
      color: $theme-light;
    }

    &.pronunciationList {
      display: flex;
      gap: 0.5em;

      .ipaReading {
        background-color: $dark-grey;
        border: 1px solid $light-grey;
        color: $text-grey;

        padding: 0.5em 1em;
        border-radius: 10em;
      }
    }

    span.altForms {
      & > *:not(:last-child)::after {
        user-select: all;
        content: ", ";
      }
    }
  }

  ol,
  ul {
    counter-reset: listCount;
    display: table;
    border-collapse: separate;
    border-spacing: 1em 0.5em;

    & > li {
      counter-increment: listCount;
      display: table-row;

      &::before {
        content: counter(listCount);
        display: table-cell;
        text-align: right;
        width: 0;

        color: $text-grey;
        font-family: monospace;
      }
    }

    &.letterList li::before {
      content: counter(listCount, lower-latin);
    }
  }
  ul li::before {
    content: "•";
  }
}
