.main {
  margin: 3rem 5vw;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  ol {
    line-height: 2em;

    &.letterList {
      list-style: lower-latin;
    }
  }
}

.entryWord {
  h1 {
    font-size: 5rem;
    font-weight: 300;
  }

  p {
    display: flex;
    gap: 0.5em;

    .ipaReading {
      background-color: #616161;
      border: 1px solid #8f8f8f;
      padding: 0.25em 0.75em;
      border-radius: 1em;
    }
  }
}
