@import "colours";

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    word-wrap: break-word;
  }
}

.entry {
  background-color: $black;
  padding: 3rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    &.entryNumber {
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.125em;
      color: $theme-light;
    }

    &.pronunciationList {
      display: flex;
      gap: 0.5em;

      .ipaReading {
        background-color: $dark-grey;
        border: 1px solid $light-grey;
        color: $text-grey;

        padding: 0.5em 1em;
        border-radius: 10em;
      }
    }

    span.altForms {
      & > *:not(:last-child)::after {
        user-select: all;
        content: ", ";
      }
    }
  }

  ol,
  ul {
    counter-reset: listCount;
    display: table;
    border-collapse: separate;
    border-spacing: 1em 0.5em;

    & > li {
      counter-increment: listCount;
      display: table-row;

      &::before {
        content: counter(listCount);
        display: table-cell;
        text-align: right;
        width: 0;

        color: $text-grey;
        font-family: monospace;
      }
    }

    &.letterList li::before {
      content: counter(listCount, lower-latin);
    }
  }
  ul li::before {
    content: "•";
  }

  hr {
    border: none;
    border-top: 1px solid $dark-grey;
  }
}
